* {
  box-sizing: border-box;
  font-family: sans-serif;
}

.section {
  width: 600px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
}


p, h3, h1 {
  text-align: center;
  display: block;
  width: 100%;
  margin: 0;
  padding-top: 20px;
}

.coffee-tea__wrap {
  display: flex;
  justify-content: center;
  width: 500px;
  min-height: 500px;
  border-radius: 5px;
  transition: 0.4s;
  -webkit-box-shadow: 10px 10px 25px -1px rgba(0,0,0,0.1);
  -moz-box-shadow: 10px 10px 25px -1px rgba(0,0,0,0.1);
  box-shadow: 10px 10px 25px -1px rgba(0,0,0,0.1);
}

.coffee-tea__wrap:hover {
  -webkit-box-shadow: 10px 10px 25px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 25px -1px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 25px -1px rgba(0,0,0,0.75);
}

.myForm {
  width: 100%;
  padding: 10px;
}
.input-wrap {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}
.field-wrap {
  position: relative;
}

.button-close {
  position: absolute;
  right: 0;
  top: 0;
  margin-right: 5px;
  font-size: 0.8em;
  cursor: pointer;
}

.input-text {
  border: 1px solid grey;
  border-radius: 3px;
  width: 100%;
}



.coffee-our, .syrup-our, .tea-our, .Concentrates-our, .topping-our, .sugar-our, .chocolate-our, .cream-our, .cappuccino-our  {
  display: none;
  border: 2px solid green;
  background: rgba(74, 217, 143, 0.1);
}

.coffee-contender, .syrup-contender, .tea-contender, .Concentrates-contender, .topping-contender, .sugar-contender, .chocolate-contender, .cream-contender, .cappuccino-contender {
  display: none;
  border: 2px solid red;
  background: rgba(242, 78, 78, 0.1);
}

.selected {
  display: block;
  width: 70%;
  margin-top: 10px;
  padding: 10px;
  margin: auto;
  border-radius: 5px;
}
.checkbox-field {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.checkbox-field label {
  width: 100%;
  display: block;
  text-align: left;
}

label {
  font-size: 0.9em;
  color: #000040;
}

.chekbox-title {
  
  color: black;
  font-weight: 200;
  font-family: serif;
}